*.swp
*~
*.o
*.lo
*.la
*.deps
*.libs
Makefile.in
Makefile

Base/Applications/psrconv
Base/Applications/psredit
Base/Applications/psrsplit
Base/Applications/psrtxt
Base/Applications/vap
Base/Applications/vip
Documentation/doxygen.err
Documentation/doxygen.out
Documentation/html/
Management/psrchive
Management/psrchive_config
Management/psrchive_info
Management/psrchive_install.h
Management/release.csh
More/Applications/calavg
More/Applications/example
More/Applications/fix_single
More/Applications/fluxcal
More/Applications/mtm
More/Applications/paas
More/Applications/pac
More/Applications/pacv
More/Applications/pam
More/Applications/pas
More/Applications/pat
More/Applications/pav
More/Applications/paz
More/Applications/pazi
More/Applications/pcm
More/Applications/pcmavg
More/Applications/pdmp
More/Applications/pdv
More/Applications/psradd
More/Applications/psrcull
More/Applications/psrdiff
More/Applications/psrflux
More/Applications/psrmodel
More/Applications/psrover
More/Applications/psrplot
More/Applications/psrsh
More/Applications/psrsmooth
More/Applications/psrsp
More/Applications/psrstability
More/Applications/psrstat
More/Applications/psrtrash
More/Applications/psrwt
More/Applications/psrzap
More/Applications/rmfit
More/Applications/sesdiv
More/Applications/spa
More/MEAL/lmfit
More/Polarimetry/pafit
More/Polarimetry/rmrot
More/Polarimetry/simpol
More/python/psrchive.py
More/python/psrchive_wrap.cxx
Util/fft/fft_speed
Util/fft/install_bench
Util/genutil/getMJD
Util/pgutil/psrlst
Util/resources/getHorizon
Util/tempo/ephepo
Util/tempo/ephio.h
Util/tempo/ephio_def.c
Util/tempo/ephorb
Util/tempo/ephtex
Util/tempo/fdot
Util/tempo/keyinfo.com
Util/tempo/keys2c
Util/tempo/keys2fort
Util/units/PromoteTraits.h
Util/units/generate_PromoteTraits
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/Makefile.aclocal
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
config/py-compile
configure
libtool
local_include/
packages/cfitsio.csh
packages/fftw.csh
packages/pgplot.csh
packages/psrcat.csh
packages/tempo.csh
packages/tempo2.csh
stamp-h1
update.log
conf.cmd
build
diff
